* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/img/c3.jpg);
  background-size: cover;
  background-position: center;

  font-family: "Press Start 2P", system-ui;
}

/* ---------------------------------------------------- */
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
/* ---------------------------------------------------- */
.kanan {
  background: rgba(222, 221, 221, 0.723);
  padding: 30px;
  border-radius: 30px;
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* padding-bottom: 30px; */
}
.kanan-judul h1 {
  font-size: 40px;
  margin-bottom: 3%;
  text-align: center;
  margin-top: 10px;
}

/* ---------------------------------------------------- */
.isi {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  margin: 15px auto;
  border: none;
}
/* ---------------------------------------------------- */
/* .imej img {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  border-radius: 30px;
} */
/* ---------------------------------------------------- */
button {
  margin-left: 42%;
  /* margin-top: 2%; */
  background-color: #254783;
  color: white;
  width: 20%;
  padding: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s;
  font-family: "Comic Relief", system-ui;
}

button:hover {
  background-color: #daf561;
  color: black;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 50px 20px;
    margin: -50px auto;
  }
  .kanan h1 {
    font-size: 30px;
  }
  .kanan {
    margin: 10% auto;
  }
  button {
    width: auto;
    padding: 10px;
    margin-top: 3%;
  }
}
